.line {
    margin-top: 40%;
    margin-left: 5%;
    border: 1px solid grey;
    max-width: 90%;
}
button {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content:
    center;
    float: left;
    width: 50%;
    height: 12%;
    padding-bottom: 8%;
    font-weight: 700;

}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
    padding: 2%;
    padding-top: 5%;
   
}

h3 {
    font-size: 25px;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: left;
}

p {
    text-align: left;
    font-size: 15px;
    max-width: 90%;
}
p1 {
    text-align: center;
    font-size: 15px;

    font-weight: 600;
   
}

ul {
    font-size: 12px;
    margin: 10%;
    text-align: left;
    right: 10px;
    padding: 10px;
}
#card-container {
    border: 1px solid grey;
    padding: 10%;
    max-width: 50%;
}
#text-container {
    max-width: 65%;
}

.top-section {
    height: 100px;
    display: flex;
   
    /* float: right; */
    border: 1px solid;
}
.top-left-section {
    padding: 10%;
}
.top-right-section {
    padding-top: 10%;
    padding-right: 10%;
}
.button-inline {
    display: flex;
}
star.png {
    font-size: small;
}