.button{
    background-color: white;
    color: blue;
    border-color: white;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom: 10px;;
}
.card{
    align-items: center;
    margin-left: 50px;
    padding-right: 50px;
}
.row-container{
    align-items: center;
    padding-left: 150px;
}
.card-body{
    background-color: blue;
}
div.row{
    align-content: center;
}
.container6{
    background-color: blue;
    color: white;
}
.button2{
    background-color: rgb(54, 255, 47);
    color: white;
    font-size: 30px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.button3{
    background-color: white;
    color: blue;
    font-size: 30px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.button3 img{
    background-color: blue;
}